<Configuration status="info" monitorInterval="300">  
	<properties> 
		<property name="logdir">logs</property>  
        <property name="filename">app.log</property>  
    </properties>  
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">  
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t]  %logger{36} - %msg%n"/>  
        </Console>  
        
        <File name="Log-File" fileName="${logdir}/system.log">  
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %c{1} - %msg%n"/>  
        </File>
        
        <RollingFile name="Rolling-File" fileName="${logdir}/${filename}"
                     filePattern="${logdir}/${filename}-%d{yyyy-MM-dd}(%i).log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{1} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
        
    </Appenders>
    
    <Loggers>  
        <Logger name="mqtt.pubsub.client" level="info" additivity="false">
     		<AppenderRef ref="Console"/>
            <AppenderRef ref="Rolling-File"/>
        </Logger>  
        <Root level="info">  
            <AppenderRef ref="Console"/>  
        </Root>  
    </Loggers>  
</Configuration> 